<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Sample App</title>
  </head>
  <body>
    <h1>Komaron's Sample App</h1>
    <p>This is a sample static page generated using rails</p>
  </body>
</html>
