<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Sample App</a>
    by <a href="http://www.komaronj.com/">Komaron James</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>